<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= styles %>
</head>
<body>
  <h1>bar.html</h1>
  <ul>
    <li class="<%= a.colored %>">will be red</li>
    <li class="<%= b.colored %>">will be blue</li>
  </ul>
</body>
</html>
